---
import { Image } from 'astro:assets';
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import PText from "../../components/PText.astro";

import { people } from "../../assets/read.json";
const images = import.meta.glob('/public/media/*.{jpeg,jpg,png,gif,webp}')

export async function getStaticPaths() {
  return people.map((person) => {
    return {
      params: { person_slug: person.slug },
      props: { person },
    };
  });
}

interface Props {
  person: {
    slug: string;
    name: string;
    info: any;
    avatar: string;
  };
}


let { person } = Astro.props;
---


<Layout title={person.name}>
  <Navbar additional={person.name} back="/demo/las" />
  <main
    class="min-h-screen min-w-full p-4 py-20 flex md:grid md:grid-cols-[420px_minmax(min-content,690px)]"
  >
    <div></div>

    <div class="flex flex-col-reverse md:flex-col">
      <Image src={images[`/public${person.avatar}`]()} alt={person.name} class="w-full rounded-xl mt-6 md:mb-6 apply-filters" />
      <PText portableText={person.info} />
    </div>
  </main>
</Layout>
