---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import PText from "../components/PText.astro";

import { people } from "../assets/read.json";

export async function getStaticPaths() {
  return people.map((person) => {
    return {
      params: { person_slug: person.slug },
      props: { person },
    };
  });
}

interface Props {
  person: {
    slug: string;
    name: string;
    info: any;
    avatar: string;
  };
}

let { person } = Astro.props;
---

<Layout title={person.name}>
  <Navbar additional={person.name} back="/read" />
  <main
    class="min-h-screen min-w-full p-2 pt-14 flex sm:grid sm:grid-cols-[540px_minmax(min-content,800px)]"
  >
    <div></div>

    <div class="mt-4">
      <!-- filter is not needed here -->
      <img src={person.avatar} alt={person.name} class="w-full rounded-xl" style="filter: hue-rotate(-180deg)" />
      <PText portableText={person.info} />
    </div>
  </main>
</Layout>
