---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";

import { getSanity } from "../lib/api";
import { slugify } from "../lib/helpers";
import PText from "../components/PText.astro";

export async function getStaticPaths() {
  const { people } = await getSanity(null, "people");

  return people.map((person) => {
    return {
      params: { person_slug: slugify(person.name) },
      props: { person },
    };
  });
}

interface Props {
  person: {
    name: string;
    info: any;
    avatarUrl: string;
  };
}

let { person } = Astro.props;
---

<Layout title={person.name}>
  <Navbar additional={person.name} back="/read" />
  <main
    class="min-h-screen min-w-full p-2 pt-14 flex sm:grid sm:grid-cols-[540px_minmax(min-content,800px)]"
  >
    <div></div>

    <div class="mt-4">
      <!-- filter is not needed here -->
      <img src={person.avatarUrl} alt={person.name} class="w-full rounded-xl" style="filter: hue-rotate(-180deg)" />
      <PText portableText={person.info} />
    </div>
  </main>
</Layout>
