---
interface Props {
	additional?: string;
	back?: string;
}

const { additional, back } = Astro.props;

const routes = [
  { id: "index", display: "DIST", href: "/" },
  { id: "read", display: "Läs", href: "/las" },
  { id: "listen", display: "Lyssna", href: "/lyssna" },
]
---

<!-- Mobile -->
<div class="navbar md:hidden flex fixed w-full p-4 justify-between space-x-2 z-50">
  {!additional && routes.map(r => (<span><a href={r.href} class="blur-xs hover:blur-none transition-blur">{r.display}</a></span>))}
  {additional && <span class="cursor-default">{additional}</span>}
  {additional && <a href={back} class="hover:blur-xs transition-blur !text-4xl -translate-y-2">x</a>}
</div>

<!-- Desktop -->
<div class="navbar hidden md:grid fixed w-full p-4 grid-cols-[10vw_10vw_10vw_1fr_min-content] z-50">
  {routes.map(r => (<span><a href={r.href} class="blur-xs hover:blur-none transition-blur">{r.display}</a></span>))}
  {additional && <span class="cursor-default">{additional}</span>}
  {additional && <a href={back} class="hover:blur-xs transition-blur text-4xl -translate-y-2">x</a>}
</div>

